.logo {
    font-size: 5em;
}
.details-image{
    display: block;
    width: 20em;
}
.details-title{
display: block;
}
.thumbnails-list{
list-style: none;
}
.thumbnails-image{
display: block;
width: 10em;
}
.thumbnails-title{
display: block; 
}
.thumbnails-anchor{
display: block;   
}