body,
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    
}
body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 0;

}
.logo {
    font-size: 2em;
    background-color: bisque;
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.main-class.hidden {
    --thumbnails-img-width: 35vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33) 
}
.button-list{
    position: fixed;
    top: 3vh;
    right: 3vw;
   
}


.movies-list {
    display: flex;
    width: 10px;
    height: 20px;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 86vh;
    order: -1;
    justify-content: flex-start;
}
.movie-item {
    display: block;
    margin: 1vw;
    width: 100vh;
    height: 50vh;

}

.movie-image {
    max-height: 60vh;
}
.title {
    display: block;
    font-size:2em;
    text-align: center;
    height: auto;
    position: relative;
    background-color: rgb(220, 245, 235);
    max-width: 40vh;
    left: 65vh;
    bottom: 30vh;
}
.movie-description {
    position: relative;
    left: 70vh;
    bottom: 30vh;
}
.button {
    background-color: aqua;
}
.section{
    height: 75vh;
  margin: 0;
    scroll-margin-top: 1em;
}