body {
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
.word-guess {
    display: flex;
    flex-direction: row;
    
}
.letter-guess {
    font-size: 2em;
    margin-left: 4vw;
    background-color: black;
    width: 3.5vw;
    text-align: center;
}
.guess-moving{
    font-size: 2em;
}
.game-over-message{
    font-size: 5em;
}